@model ReviewNotes.Core.Review

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@Html.ActionLink("Go back to list","Index")<br />
@using (Html.BeginForm("Create", "Reviews", FormMethod.Post,
                                                            new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Files</legend>

        <span>Title: </span>@Html.EditorFor(m => m.Title)<br />
        <span>Content </span>@Html.TextAreaFor(m => m.Content, new { id ="content", style = "width: 800px; resize: none; max-width:800px; height:400px" })<br />

        <div class="control-container">
            <input type="file" name="files[0]" />
        </div>

        <button id="add">Add files...</button><br />
        <input type="submit" value="Save" />
    </fieldset>

}

@section scripts{
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
        $(function () {
            $("#add").click(function (e) {
                //var fileInput = '<input type="file" name="file[' + ']'"/>';
                e.preventDefault();
                var numberOfFiles = $("input[type='file']").length;
                var fileInput = "<div class='control-container'><input type='file' name='file[" + numberOfFiles + "]' /></div>";
                $("#add").before(fileInput);
                $("input[type='file']").last().click();

            });
        })
    </script>
    <script>
        tinymce.init({
            selector: '#content',
            encoding: "xml",
            plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste imagetools"
            ],
        });
    </script>

}