@model ReviewNotes.WebUI.ViewModels.ReviewViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm("Delete", "Reviews", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Review</legend>
        <div>
            <span>Title: </span>
            <span>@Model.Title</span>
        </div>
        <div>
            <span>Attachments: </span>
            <ul>
                @foreach (var attachment in Model.Attachments) {
                    <li>@attachment.Filename</li>
                }
            </ul>
        </div>
        @Html.HiddenFor(r => r.Id)
        <input type="submit" value="Delete" />
    </fieldset>
}
